<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification</title>
</head>
<body style="margin: 0; padding: 0; background-color: #f2f3f5; font-family: 'Pretendard', Arial, sans-serif; color: #333;">
<table role="presentation" width="100%" cellspacing="0" cellpadding="0" border="0"
       style="background-color: #f2f3f5; width: 100%; padding: 80px 0;">
    <tr>
        <td align="center">
            <table role="presentation" width="600" cellspacing="0" cellpadding="0" border="0"
                   style="background-color: #ffffff; width: 600px; padding: 40px; border-radius: 10px; text-align: center;">

                <!-- Logo and Title -->
                <tr>
                    <td style="padding-bottom: 20px;">
                        <img src="https://mohajistudio-developers.s3.ap-northeast-2.amazonaws.com/media/mohajistudio-developers-logo.png" alt="logo"
                             width="120" style="display: block; margin: 0 auto;">
                    </td>
                </tr>
                <tr>
                    <td style="font-size: 20px; font-weight: bold; color: #333; padding-bottom: 20px;">
                        이메일 주소 인증
                    </td>
                </tr>

                <!-- Code Box -->
                <tr>
                    <td align="center">
                        <table width="400"
                               style="background-color: #F9F9F9; width: 300px; height: 150px; border-radius: 10px;">
                            <tr>
                                <td align="center">
                                    <p>인증 코드</p>
                                    <p style="font-size: 24px; font-weight: bold;">[[${code}]]</p>
                                </td>
                            </tr>
                        </table>

                    </td>
                </tr>

                <!-- Description -->
                <tr>
                    <td style="padding-top: 30px; font-size: 14px; color: #4D4D4D; text-align: center;">
                        <p>
                            <a href="https://devs.mohajistudio.com"
                               style="color: #2196F3; font-weight: 500; text-decoration: none;">MohajiStudio
                                Developers</a>
                            에 오신 것을 환영합니다.
                        </p>
                        <p>
                            계정 설정을 마치려면 인증 코드를 입력하여 이메일 주소를 확인해 주세요.<br>
                            코드의 유효 기간은 [[${expirationTime}]]입니다.
                        </p>
                    </td>
                </tr>

                <!-- Service Center -->
                <tr>
                    <td style="padding-top: 20px; font-size: 12px; font-weight: 500; color: #4D4D4D;">
                        도움이 필요하신가요?
                        <a href="mailto:mohajistudio@gmail.com" style="color: #2196F3; text-decoration: none;">문의메일</a>
                    </td>
                </tr>

            </table>
        </td>
    </tr>
</table>
</body>
</html>